/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

#wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#rec-panel {
    float: right;
    height: 100%;
    width: 30%;
}
#header {
    width: 100%;
    top: 0;
    display: inline-block;
    height: 92px;
}
.login-info-bar {
    height: 16px;
    background-color: #555; /* Dark-grey background */
    color: white;
    font-size: 11pt;
    width: 100%;
    float: right;
    text-align: right;
}
.login-link {
    color: white;
}
.login-link:hover {
    color: #58D68D;
}
.icon-bar {
    width: 100%; /* Full-width */
    height: 76px;
    background-color: #555; /* Dark-grey background */
    overflow: hidden; /* Overflow due to float */
}
.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 25%; /* Equal width (4 icons with 25% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}
.icon-bar a:hover {
    color: #58D68D;
    background-color: #000; /* Add a hover color */
}

.scroll-wrapper {
    
}
.content-header {
    height: 32px;
}
.profile-header {
    height: 52px;
    width: 100%;
}
.full-name {
    font-weight: bold;
    font-size: 16pt;
    padding-left: 15px;
    display: block;
}
.profile-follow-content {
    padding-left: 12px;
    font-size: 11pt;
}
.rec-section-header {
    font-style: italic;
    font-size: 14pt;
    padding-left: 15px;
    float: left;
    width: 85%;
    height: 32px;
}
.filter-bar {
    font-size: 18pt;
    padding-right: 10px;
    float: right;
    width: 15%;
    height: 32px;
}
.search-input {
    width: 100%;
    border: none;
    padding-left: 10px;
    border-radius: 6px;
    background: #f1f1f1;
}
.fa-filter:hover {
    color: #58D68D;
}
.fa-filter {
    color: #555;
}
.fa-ban:hover {
    color: darkred;
}
.fa-ban{
    color: red;
    visibility: hidden;
}
.filter-content {
    width: 100%;
    height: 24px;
    display: none;
}
.filter-content div {
    display: inline-block;
    float: left;
}
.price-filter {
    height: 100%;
    width: 25%;
    padding-left: 6px;
}
.rating-filter {
    height: 100%;
    padding-left: 0px;
    width: 35%;
}
.type-filter {
    height: 100%;
    width: 40%;
    padding-right: 6px;
}
.type-list {
    width: 70%;
}

.rating-filter-label {
    float: left;
}
.rating { 
    border: none;
    float: left;
}
.rating input { 
    display: none; 
} 
.rating label { 
    color: #ddd; 
    float: right; 
}
.rating label:before { 
    margin-left: 3px;
    font-size: 1.1em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}
.rating .half:before { 
    content: "\f089";
    position: absolute;
}
/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
.price-filter-label {
    float: left;
}
.price { 
    border: none;
    float: left;
}
.price input { 
    display: none; 
} 
.price label { 
    color: #ddd; 
    float: right; 
}
.price label:before { 
    margin-left: 3px;
    font-size: 1.1em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f155";
}
/***** CSS Magic to Highlight Dollar Signs on Hover *****/
.price > input:checked ~ label, /* show dollar sign when clicked */
.price:not(:checked) > label:hover, /* hover current dollar sign */
.price:not(:checked) > label:hover ~ label { color: greenyellow;  } /* hover previous dollar sign in list */
.price > input:checked + label:hover, /* hover current dollar sign when changing rating */
.price > input:checked ~ label:hover,
.price > label:hover ~ input:checked ~ label, /* lighten current selection */
.price > input:checked ~ label:hover ~ label { color: green;  }

.follow-icon {
    float: right;
    margin-top: 6px;
}
.follow-header {
    float: left;
    display: block;
}
.follow-container {
    height: 38px;
}
.button-follow {
    border-radius: 8px;
    background-color: #4CAF50;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 75px;
}
.button-follow:hover:before {
    content: attr(data-hover);
}
.button-follow:hover span {
    display: none;
}
.button-follow:hover {
    background-color: #f44336;
    color: white;
}
.new-follow {
    border-radius: 8px;
    background-color: white;
    border-style: solid;
    border-color: #4d90fe;
    border-width: 1px;
    width: 75px;
}
.new-follow:hover {
    background-color: #4d90fe;
    color: white;
}
.message-button {
    float:right;
}
/*.send-message {
    background-color: #ffffff;
    border-style: none;
    color: #4d90fe;
}*/
#message-comment {
    width: 100%;
    resize: vertical;
    padding: 2px;
}
/*.list-button {
    float:right;
    padding-right: 5px;
}*/
.rec-tools-container {
    width: 8%;
    float: right;
}
.tool-container {
    align-content: center;
    height: 100%;
    border: none;
    background-color: white;
}
.rec-tool-icons {
    background-color: #ffffff;
    border-style: none;
    color: #4d90fe;
}
.list-inputs {
    width: 100%;
    margin-bottom: 10px;
}